<div class="section-download">
	<h2>Download App Today</h2>
	<p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>
	<div class="download-buttons">
		<div class="download-button">
			<i class="fa fa-android"></i>
			<div class="text">
				<span>available on</span>
				<strong>Play Store</strong>
			</div>
		</div>
		<div class="download-button">
			<i class="fa fa-android"></i>
			<div class="text">
				<span>available on</span>
				<strong>Play Store</strong>
			</div>
		</div>
		<div class="download-button">
			<i class="fa fa-android"></i>
			<div class="text">
				<span>available on</span>
				<strong>Play Store</strong>
			</div>
		</div>
	</div>
</div>

<div class="background" style="background-image: url('assets/images/bg3.jpg')"></div>
