body {
  font-family: map-get($fonts-poppins, 'regular');
  font-size: $font-size-base;
  line-height: 1.4;
  color: rgba($black, .8);

  &.not-loaded { overflow: hidden }

  > .section-group {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
}
