$section-wrapper-max-width: 1072px;

// Colors

$mint: #3ccdbb;
$black: #3e3e3e;
$white: #ffffff;
$off-white: #f9f9f9;

$gradient-mint: linear-gradient(to right, #1e5799 0%, $mint 0%, #16c9f6 100%);
$gradient-purple: linear-gradient(to right, rgba(58, 123, 213, 0.8), rgba(0, 210, 255, 0.8));

// Fonts

$font-size-base: .85rem;
$font-url-base: "assets/fonts" !default;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$fonts-defined: "Poppins-Regular" "Poppins-Medium" "Poppins-SemiBold" "Poppins-Bold";
$fonts-poppins: ();

// Screenshots section

$screenshots-quantity: 5;
$screenshots-gutter: 0;
$screenshots-phone-screen-padding-top: 48px;
$screenshots-phone-screen-padding-bottom: 52px;
$screenshots-phone-screen-width: 220px;
$screenshots-inner-container-width: ($screenshots-gutter + $screenshots-phone-screen-width) * $screenshots-quantity - $screenshots-gutter;
$screenshots-changing-speed: .6s;

// Breapoints

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
