<nav ng-class="{'collapsed': topBar.collapsed, 'expanded': !topBar.collapsed}">
	<a class="brand" href="{{topBar.brandUrl}}">{{topBar.brandName}}</a>

	<button class="toggler" ng-click="topBar.collapsed = !topBar.collapsed">
		<i class="fa fa-bars"></i>
	</button>

	<ul>
		<li ng-repeat="location in topBar.spy.locations"
      ng-class="{'active': topBar.spy.currentSection.location === location}">
			<a href="#{{location.name}}" ng-click="topBar.spy.scrollTo(location)">{{location.title}}</a>
		</li>
	</ul>
</nav>
